NEXT_PUBLIC_SUPABASE_URL=https://ecahwklrntubyvwrbxfy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjYWh3a2xybnR1Ynl2d3JieGZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MTgyMzgsImV4cCI6MjEwMzk5NDIzOH0.vFRJvWo7JFCFUznavzveGpac8L-vdoRMTJKJPE4o98A